@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 112px;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.title {
    font-family: "Roboto Slab", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #000;
}

.h2 {
    font-size: 32px;
}

.text {
    color: #8989A2;
    font-size: 16px;
}

/* button */

.button {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #722ED1;
    background-color: #FFFFFF;
    padding: 12px 24px;
    border-radius: 21px;
    border: 1px solid #722ED1;
    cursor: pointer;
}

.button--purple {
    background-color: #722ED1;
    color: #fff;
}

.button--white {
    border-color: #fff;
}

/* end button */

/* button MORE */

.more {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 8px 16px;
    gap: 12px;
    color: #722ED1;
}

.more--purple {
    background-color: #F7F1FF;
}

.more a {
    color: #722ED1;
}

.more span {
    display: flex;
    gap: 8px;
}

/* end button MORE */

/* menu */

.menu {
    display: flex;
    gap: 35px;
}

.menu__item {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

.menu__item--active {
    color: red;
}

/* end menu */

/* first block */

.first {
    background-color: #E2F1FF;
    padding-bottom: 158px;
}

.first__container {
    display: flex;
    flex-direction: column;
    gap: 88px;
}

.first__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.first__right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.first__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first__left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.first__buttons {
    display: flex;
    gap: 24px;
}

.first__more {
    align-self: flex-start;
}

/* end first block */

/* insigts block */

.insights__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.insights__more {
    align-self: center;
}

.insights__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.insights__items {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}

/* end insigts block */

/* insight block */

.insight {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.insight__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E6F7FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insight__icon--red {
    background-color: #FFF1F0;
}

.insight__icon--green {
    background-color: #F6FFED;
}

.insight__title {
    font-weight: 700;
    font-size: 16px;
    color: #160637;
}

.insight__text {
    font-size: 16px;
    color: #8989A2;
}

/* end insight block */

/* best stack block */

.best-stack__container {
    display: flex;
    justify-content: space-between;
    gap: 85px;
}

.best-stack__container--right {
    flex-direction: row-reverse;
}

.best-stack__image {
    width: 400px;
}

.best-stack__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

.best-stack__more {
    align-self: flex-start;
}

/* end best stack block */

/* partners block */

.partners {
    background-color: #F9F0FF;
    padding: 158px 0;
}

.partners__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.partners__quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.partners__text {
    font-size: 24px;
    color: #160637;
    text-align: center;
}

.partners__man {
    font-size: 16px;
    font-weight: 700;
}

.partners__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.partners__companies {
    border-top: 1px solid #DEC9FA;
    padding-top: 32px;
}

.partners__logos {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-between;
}

/* end partners block */